<div class="form-group">
  <label class="control-label col-lg-2" for="imageField">Image</label>
  <div class="col-lg-10">
  {{#canvas-file width=250 height=250 value=image}}Upload image{{/canvas-file}}
  </div>
</div>
<div class="form-group">
  <label class="control-label col-lg-2" for="inputTitle">max_depth</label>
  <div class="col-lg-10">
  {{view Ember.TextField value=max_depth id="inputTitle" classNames="form-control"}}
  </div>
</div>
<div class="form-group">
  <label class="control-label col-lg-2" for="textareaDescription">avg_depth</label>
  <div class="col-lg-10">
  {{view Ember.TextArea value=avg_depth classNames="form-control" id="textareaDescription"}}
  </div>
</div>
<div class="form-group">
  <label class="control-label col-lg-2" for="textareadive_date">dive_date</label>
  <div class="col-lg-10">
  {{view Ember.TextArea value=dive_date classNames="form-control" id="textareadive_date"}}
  </div>
</div>
<div class="form-group">
  <label class="control-label col-lg-2" for="textareadive_duration">dive_duration</label>
  <div class="col-lg-10">
  {{view Ember.TextArea value=dive_duration classNames="form-control" id="textareadive_duration"}}
  </div>
</div>
<div class="form-group">
  <label class="control-label col-lg-2" for="textareadive_coordinates">dive_coordinates</label>
  <div class="col-lg-10">
  {{view Ember.TextArea value=dive_coordinates classNames="form-control" id="textareadive_coordinates"}}
  </div>
</div>
<input type="hidden" {{bind-attr value=id}} id="id"/>